html, body {
    margin: 0;
    padding: 0;
    background-color: #DDDDDD;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Helvetica;
}

h1 {
    display: inline;
}

canvas {
    margin:auto;
    display: block;
    background-color: black;
    height:600px;
    width:1200px;
}

.canvas_wrapper {
    margin:20px auto 30px auto;
    height: 600px;
    width: 1200px;
    display:block;
    position:relative;
}

#mode {
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 15pt;
    text-transform: uppercase;
}

#count {
    top: 20px;
    right: 20px;
    font-size: 20pt;
    color: white;
    position:absolute;
}

#settings {
    margin: 20px 0 20px 20px;
}

form {
    margin-top: 10px;
}

.label{
    font-weight:bold;
}

.value{
    width: 100px;
}

#max{
    width: 100px;
}

#velX, #velY, #accelX, #accelY {
    width: 30px;
}

#updateSettings {
    background-color: #66E0FF;
    border: none;
    outline:none;
    font-size: 30px;
    border-radius: 5px;
    color: white;
}

#updateSettings:active{
    background-color:#5CCAE6;
}