.green-diamond-empty {
  background-image: url("../images/green_diamond_empty.png");
}

.green-diamond-filled {
  background-image: url("../images/green_diamond_filled.png");
}

.green-diamond-stripe {
  background-image: url("../images/green_diamond_stripe.png");
}

.green-round-empty {
  background-image: url("../images/green_round_empty.png");
}

.green-round-filled {
  background-image: url("../images/green_round_filled.png");
}

.green-round-stripe {
  background-image: url("../images/green_round_stripe.png");
}

.green-squiggle-empty {
  background-image: url("../images/green_squiggle_empty.png");
}

.green-squiggle-filled {
  background-image: url("../images/green_squiggle_filled.png");
}

.green-squiggle-stripe {
  background-image: url("../images/green_squiggle_stripe.png");
}

.purple-diamond-empty {
  background-image: url("../images/purple_diamond_empty.png");
}

.purple-diamond-filled {
  background-image: url("../images/purple_diamond_filled.png");
}

.purple-diamond-stripe {
  background-image: url("../images/purple_diamond_stripe.png");
}

.purple-round-empty {
  background-image: url("../images/purple_round_empty.png");
}

.purple-round-filled {
  background-image: url("../images/purple_round_filled.png");
}

.purple-round-stripe {
  background-image: url("../images/purple_round_stripe.png");
}

.purple-squiggle-empty {
  background-image: url("../images/purple_squiggle_empty.png");
}

.purple-squiggle-filled {
  background-image: url("../images/purple_squiggle_filled.png");
}

.purple-squiggle-stripe {
  background-image: url("../images/purple_squiggle_stripe.png");
}

.red-diamond-empty {
  background-image: url("../images/red_diamond_empty.png");
}

.red-diamond-filled {
  background-image: url("../images/red_diamond_filled.png");
}

.red-diamond-stripe {
  background-image: url("../images/red_diamond_stripe.png");
}

.red-round-empty {
  background-image: url("../images/red_round_empty.png");
}

.red-round-filled {
  background-image: url("../images/red_round_filled.png");
}

.red-round-stripe {
  background-image: url("../images/red_round_stripe.png");
}

.red-squiggle-empty {
  background-image: url("../images/red_squiggle_empty.png");
}

.red-squiggle-filled {
  background-image: url("../images/red_squiggle_filled.png");
}

.red-squiggle-stripe {
  background-image: url("../images/red_squiggle_stripe.png");
}